[Unit]
Description=Mutalyzer batch processor ({{ mutalyzer_current }})
After=network.target
OnFailure=mail-service-status@%n.service

[Service]
ExecStart=/opt/mutalyzer/versions/{{ mutalyzer_current }}/virtualenv/bin/mutalyzer-batch-processor
WorkingDirectory=/opt/mutalyzer/versions/{{ mutalyzer_current }}
Environment=MUTALYZER_SETTINGS=/opt/mutalyzer/versions/{{ mutalyzer_current }}/conf/settings.py
User=mutalyzer
Group=mutalyzer
Restart=on-failure
RestartSec=1s
StartLimitInterval=20s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
