[Unit]
Description=Mutalyzer limit cache size
After=network.target

[Service]
ExecStart=/opt/mutalyzer/bin/limit-directory-size.bash /opt/mutalyzer/cache {{ mutalyzer_max_cache_size }}
WorkingDirectory=/opt/mutalyzer
User=mutalyzer
Group=mutalyzer
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
