[Unit]
Description=Mutalyzer SOAP service ({{ mutalyzer_current }})
After=network.target

[Service]
ExecStart=/opt/mutalyzer/versions/{{ mutalyzer_current }}/virtualenv/bin/gunicorn --pid /opt/mutalyzer/versions/{{ mutalyzer_current }}/run/service-soap.pid -c /opt/mutalyzer/versions/{{ mutalyzer_current }}/conf/service-soap.conf mutalyzer.entrypoints.service_soap
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PIDFile=/opt/mutalyzer/versions/{{ mutalyzer_current }}/run/service-soap.pid
WorkingDirectory=/opt/mutalyzer/versions/{{ mutalyzer_current }}
Environment=MUTALYZER_SETTINGS=/opt/mutalyzer/versions/{{ mutalyzer_current }}/conf/settings.py
User=mutalyzer
Group=mutalyzer
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
